// $mainbg: #CFD581;
$mainbg: black;

body {
    width: 100%;
}

.navbar {
    display: none;
}

.navbar-inner .container {
    background-color: inherit;
}

.container {
    max-width: 1024px;
    background-color: $mainbg !important;
}

.aveeleccost {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    font-size: 40px;
    text-align: center;
}

/* Form Styling */


/* font-styles */
form, h1, h2, h3, h4, h5, h6, input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300 !important;
}

/* Media Queries */

@media (max-width: 768px) {
    .container {
        width: 768px;
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 1024px;
        max-width: 100%;
    }
}
